<div class="w-[247px] min-w-[247px]">
  <div id="filtersMenu" class="sticky mt-[[15px]] top-[[15px]]">
    <h3 class="font-georgia font-bold italic text-lg text-light_green text-center my-[15px]">Формат коктейля</h3>
    <div id="cocktail-types-group" class="flex justify-around">
        <button {{on "click" (fn @toggleType 1)}} id="long-cocktail-button" type="button" class="w-[64px] h-[64px] border rounded-[4px] outline-none border-greengray hover:bg-gray-100 {{if this.isLongTypePressed 'active'}}" data-toggle="button" aria-pressed={{ this.isLongTypePressed }} autocomplete="off" title="лонг" />
        <button {{on "click" (fn @toggleType 2)}} id="short-cocktail-button" type="button" class="w-[64px] h-[64px] border rounded-[4px] outline-none border-greengray hover:bg-gray-100 {{if this.isShortTypePressed 'active'}}" data-toggle="button" aria-pressed={{ this.isShortTypePressed }} autocomplete="off" title="короткий" />
        <button {{on "click" (fn @toggleType 3)}} id="shot-cocktail-button" type="button" class="w-[64px] h-[64px] border rounded-[4px] outline-none border-greengray hover:bg-gray-100 {{if this.isShotTypePressed 'active'}}" data-toggle="button" aria-pressed={{ this.isShotTypePressed }} autocomplete="off" title="шот" />
    </div>
    <h3 class="font-georgia font-bold italic text-lg text-light_green text-center my-[15px]">Дополнительные опции</h3>
    <div id="options-group" class="flex flex-wrap justify-between px-1">
      <button {{on "click" (fn @toggleOption 1)}} type="button" class="h-[21px] mb-[5px] mx-[5px] leading-none font-georgia font-bold italic text-sm text-orange_beach border-b border-dashed border-orange_beach outline-none hover:text-brick_red hover:border-brick_red {{if this.isBurningPressed 'active'}}" data-toggle="button" aria-pressed={{ this.isBurningPressed }} autocomplete="off">горящий</button>
      <button {{on "click" (fn @toggleOption 5)}} type="button" class="h-[21px] mb-[5px] mx-[5px] leading-none font-georgia font-bold italic text-sm text-orange_beach border-b border-dashed border-orange_beach outline-none hover:text-brick_red hover:border-brick_red {{if this.isFlackyPressed 'active'}}" data-toggle="button" aria-pressed={{ this.isFlackyPressed }} autocomplete="off">слоеный</button>
      <button {{on "click" (fn @toggleOption 2)}} type="button" class="h-[21px] mb-[5px] mx-[5px] leading-none font-georgia font-bold italic text-sm text-orange_beach border-b border-dashed border-orange_beach outline-none hover:text-brick_red hover:border-brick_red {{if this.isIcePressed 'active'}}" data-toggle="button" aria-pressed={{ this.isIcePressed }} autocomplete="off">со льдом</button>
      <button {{on "click" (fn @toggleOption 4)}} type="button" class="h-[21px] mb-[5px] mx-[5px] leading-none font-georgia font-bold italic text-sm text-orange_beach border-b border-dashed border-orange_beach outline-none hover:text-brick_red hover:border-brick_red {{if this.isIBAPressed 'active'}}" data-toggle="button" aria-pressed={{ this.isIBAPressed }} autocomplete="off" title="утвержденный международной ассоциацией барменов (IBA)">официальный</button>
      <button {{on "click" (fn @toggleOption 3)}} type="button" class="h-[21px] mb-[5px] mx-[5px] leading-none font-georgia font-bold italic text-sm text-orange_beach border-b border-dashed border-orange_beach outline-none hover:text-brick_red hover:border-brick_red {{if this.isCheckedPressed 'active'}}" data-toggle="button" aria-pressed={{ this.isCheckedPressed }} autocomplete="off" title="проверенный модераторами">проверенный</button>
      {{#if this.showOnlyLikedButton}}
        <button {{on "click" (fn @toggleOnlyLiked)}} type="button" class="h-[21px] mb-[5px] mx-[5px] leading-none font-georgia font-bold italic text-sm text-orange_beach border-b border-dashed border-orange_beach outline-none hover:text-brick_red hover:border-brick_red {{if this.isOnlyLikedPressed 'active'}}" data-toggle="button" aria-pressed={{ this.isOnlyLikedPressed }} autocomplete="off" title="только любимые коктейли">только любимые</button>
      {{/if}}
    </div>
    <h3 class="font-georgia font-bold italic text-lg text-light_green text-center my-[15px]">Выбор ингредиентов</h3>
    <IngredientChooser @multiple={{true}} @placeholder="Напишите ингредиент..." @initSelectedIds={{@selectedIngredientsIds}} @ingredients={{@ingredients}} @selectedIngredientsIds={{@selectedIngredientsIds}} @changeIngredients={{@changeIngredients}} />
    {{#if this.currentUser.isAuthenticated}}
      <span {{on "click" this.addBarAsFilter}} class="font-gothic text-sm underline cursor-pointer">Добавить ингредиенты из бара</span>
    {{else}}
      <span class="font-gothic text-sm underline opacity-50" title="Доступно для зарегистрированых пользователей">Добавить ингредиенты из бара</span>
    {{/if}}
    <span {{on "click" this.clearFilters}} class="font-gothic text-sm underline cursor-pointer">Сбросить фильтры</span>
  </div>
</div>
