<div id="filtersMenu">
  <h3>Формат коктейля</h3>
  <div id="cocktail-types-group" class="row">
    <div class="col-xs-4">
      <button {{action 'toggleType' 1}} id="long-cocktail-button" type="button" class="btn big-toggle-button  {{add-active-class isLongTypePressed}}" data-toggle="button" aria-pressed={{ isLongTypePressed }} autocomplete="off" title="лонг"></button>
    </div>
    <div class="col-xs-4">
      <button {{action 'toggleType' 2}} id="short-cocktail-button" type="button" class="btn big-toggle-button {{add-active-class isShortTypePressed}}" data-toggle="button" aria-pressed={{ isShortTypePressed }} autocomplete="off" title="короткий"></button>
    </div>
    <div class="col-xs-4">
      <button {{action 'toggleType' 3}} id="shot-cocktail-button" type="button" class="btn big-toggle-button {{add-active-class isShotTypePressed}}" data-toggle="button" aria-pressed={{ isShotTypePressed }} autocomplete="off" title="шот"></button>
    </div>
  </div>
  <h3>Дополнительные опции</h3>
  <div id="options-group" class="row">
    <button {{action 'toggleOption' 1}} id="burning-option-button" class="btn option-toggle-button {{add-active-class isBurningPressed}}" data-toggle="button" aria-pressed={{ isBurningPressed }} autocomplete="off">горящий</button>
    <button {{action 'toggleOption' 5}} id="flacky-cocktail-button" class="btn option-toggle-button {{add-active-class isFlackyPressed}}" data-toggle="button" aria-pressed={{ isFlackyPressed }} autocomplete="off">слоеный</button>
    <button {{action 'toggleOption' 2}} id="ice-cocktail-button" class="btn option-toggle-button {{add-active-class isIcePressed}}" data-toggle="button" aria-pressed={{ isIcePressed }} autocomplete="off">со льдом</button>
    <button {{action 'toggleOption' 4}} id="official-cocktail-button" class="btn option-toggle-button {{add-active-class isIBAPressed}}" data-toggle="button" aria-pressed={{ isIBAPressed }} autocomplete="off" title="утвержденный международной ассоциацией барменов (IBA)">официальный</button>
    <button {{action 'toggleOption' 3}} id="checked-cocktail-button" class="btn option-toggle-button {{add-active-class isCheckedPressed}}" data-toggle="button" aria-pressed={{ isCheckedPressed }} autocomplete="off" title="проверенный модераторами">проверенный</button>
  </div>
  <h3>Выбор ингредиентов</h3>
  {{ingredient-chooser elementId="ingredientChooser" multiple=true placeholder="Напишите ингредиент..." initSelectedIds=selectedIngredientsIds ingredients=ingredients selectedIngredientsIds=barIngredientsIds changeIngredients=changeIngredients}}
  {{#if currentUser.isAuthenticated}}
    <a {{action 'addBarAsFilter'}} class="text-button">Добавить ингредиенты из бара</a>
  {{else}}
    <a class="text-button text-button-disabled" title="Доступно для зарегистрированых пользователей">Добавить ингредиенты из бара</a>
  {{/if}}
  <a {{action 'clearFilters'}} class="text-button">Сбросить фильтры</a>
</div>
