<div class="font-gothic text-sm" ...attributes>
  {{#if @multiple}}
    <PowerSelectMultiple @searchEnabled={{true}} @selected={{this.selectedIngredients}} @searchField="name" @placeholder={{@placeholder}} @options={{this.filteredIngredients}} @onChange={{this.changeIngredients}} as |ingredient|>
      {{ingredient.name}} {{ingredient.description}}
    </PowerSelectMultiple>
  {{else}}
    <PowerSelect @searchEnabled={{true}} @searchField="name" @selected={{this.selectedIngredients}} @placeholder={{@placeholder}} @options={{this.filteredIngredients}} @onChange={{this.changeIngredients}} as |ingredient|>
      {{ingredient.name}} {{ingredient.description}}
    </PowerSelect>
  {{/if}}
</div>
