<div class="recipe-item flex-grow w-310px min-w-310px md:w-350px md:min-w-350px h-185px bg-white rounded-5px shadow-recipe m-5px hover:bg-orange-transparent">
{{#link-to "recipe" @recipe.id}}
	<div id="recipeBox" class="relative w-134px h-178px my-4px ml-4px mr-5px border border-gray-300 float-left">
		{{#if @recipe.thumbnailUrl}}
			<img alt={{@recipe.name}} src={{@recipe.fullThumbnailUrl}}>
		{{else}}
			<img src="/assets/emptycocktail.png">
		{{/if}}
		<div class="absolute top-0 left-0 ml-5px opacity-75 leading-20px">
			<img class="inline-block w-16px h-16px" src="/assets/views-icon.svg">
			<span class="font-gothic text-13px text-gray-700">{{safe-val @recipe.stats.views 0}}</span>
		</div>
		<div class="absolute top-0 right-0 mr-5px opacity-75 leading-20px">
			{{#if this.isLiked}}
			  <img class="inline-block w-15px h-15px" src="/assets/filled-heart.svg">
			{{else}}
			  <img class="inline-block w-15px h-15px" src="/assets/heart.svg">
			{{/if}}
			<span class="font-gothic text-13px text-gray-700">{{safe-val @recipe.stats.likes 0}}</span>
		</div>
		{{#unless @recipe.published}}
			<span class="absolute bottom-0 left-0 text-red-600">DEV</span>
		{{/unless}}
	</div>
	<div class="relative text-center h-full">
		<span id="recipeName" class="font-georgia font-bold italic leading-none text-md md:text-lg lg:text-xl text-violet">{{@recipe.name}}</span>
		<div id="ingredients" class="text-left pt-5px pr-5px leading-tight">
			{{#each this.sortedIngredients as |ingredient|}}
				<span title="{{ingredient.tooltip}}" style="{{this.maxIngredientWidthStyle}}" class="inline-block leading-tight font-gothic text-center rounded-10px px-5px pt-4px pb-5px h-25px border-0 overflow-hidden text-11px md:text-xs {{ingredient.className}}">{{to-lower-case ingredient.name}}</span>
			{{/each}}
		</div>
		<div id="tags" class="absolute bottom-0 inset-x-0 mb-4px ml-145px text-left">
			{{#each this.tags as |tag|}}
				<img class="inline-block w-24px h-24px md:w-32px md:h-32px" src= {{tag.img}} title="{{tag.tooltip}}">
			{{/each}}
		</div>
	</div>
{{/link-to}}
</div>
