<div class="recipe-box">
	{{#link-to "recipe" recipe}}
		<div>
			<div class="recipe-image-container">
				<div>
					{{#if recipe.thumbnailUrl}}
						<img src= {{recipe.fullThumbnailUrl}}>
					{{else}}
						<img src="/assets/emptycocktail.png">
					{{/if}}
					<div class="views-icon-container">
						<img src="/assets/views-icon.svg">
						<span>{{recipe.views}}</span>
					</div>
					<div class="rating-icon-container">
						{{#if isLiked}}
						  <img src="/assets/filled-heart.svg">
						{{else}}
						  <img src="/assets/heart.svg">
						{{/if}}
						<span>{{recipe.likes}}</span>
					</div>
					{{#unless recipe.published}}
						<span id="devMode">DEV</span>
					{{/unless}}
				</div>
			</div>
			<div>
				<span class="recipe-name-text">{{recipe.name}}</span>
				<div id="ingredients">
					{{#each sortedIngredients as |ingredient|}}
						<span title="{{ingredient.tooltip}}" class="{{ingredient.className}}">{{to-lower-case ingredient.name}}</span>
					{{/each}}
				</div>
				<div id="tags">
					{{#each tags as |tag|}}
						<img src= {{tag}}>
					{{/each}}
				</div>
			</div>
		</div>
	{{/link-to}}
</div>
