<div ...attributes>
  <PowerSelectTypeahead
    @searchEnabled={{true}}
    @initiallyOpened={{false}}
    @placeholder={{this.randomPlaceholder}}
    @searchField="name"
    @extra={{hash labelPath="name"}}
    @defaultHighlighted={{null}}
    @options={{@options}}
    @selected={{this.selected}}
    @onOpen={{this.preventEmptyOpen}}
    @onInput={{this.preventShortSearch}}
    @onkeydown={{this.keyPressed}}
    @onChange={{this.processSearch}} as |option|>
    {{option.name}}
  </PowerSelectTypeahead>
</div>
