<!-- Modal -->
<div class="modal fade" id="signUpWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
      </div>
      <div class="modal-body">
        {{validated-input type="text" model=this placeholder="Отображаемое имя..." valuePath="displayName"}}
        {{validated-input type="email" model=this placeholder="Электронный адрес..." valuePath="email"}}
        {{validated-input type="password" model=this placeholder="Пароль..." valuePath="password"}}
        {{validated-input type="password" model=this placeholder="Пароль..." valuePath="passwordConfirmation"}}
        <button type="button" class="btn btn-default" disabled={{v-get this 'isInvalid'}} {{action "register"}}>Зарегистрироваться</button>
        {{#if hasError}}
          <span>Такой пользователь уже существует</span>
        {{/if}}
      </div>
      <div class="modal-footer sn-group">
        <span>Уже есть аккаунт?</span>
        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#loginWindow">Вход</button>
      </div>
    </div>
  </div>
</div>
