<span>Если бы в вашем баре был ингредиент "{{ingredientsNames.[0]}}", то вы бы смогли сделать еще {{phraseEndings.[0]}}</span>
<span>Если бы в вашем баре был ингредиент "{{ingredientsNames.[1]}}", то вы бы смогли сделать еще {{phraseEndings.[1]}}</span>
<span>Если бы в вашем баре был ингредиент "{{ingredientsNames.[2]}}", то вы бы смогли сделать еще {{phraseEndings.[2]}}</span>
