<span>Если бы в вашем баре был еще {{firstIngredientName}}, то вы бы смогли сделать еще {{firstIngredientCocktails.length}} коктейлей.</span>
<span>Если бы в вашем баре был еще {{secondIngredientName}}, то вы бы смогли сделать еще {{secondIngredientCocktails.length}} коктейлей.</span>
<span>Если бы в вашем баре был еще {{thirdIngredientName}}, то вы бы смогли сделать еще {{thirdIngredientCocktails.length}} коктейлей.</span>
