{{#if this.showPanel}}
  <div class="flex-1 p-[5px] mx-4 mt-[20px] mb-[15px] rounded-[5px] shadow-recipe font-gothic">
    {{#if this.hasData}}
      <span class="block ml-[5px] text-sm">{{@title}}</span>
      {{#each this.wholePhrases as |suggestion|}}
        <MarkdownToHtml class="ml-[5px] mt-[10px] text-sm" @markdown={{suggestion}} @extensions="internal-links" />
      {{/each}}
      {{#if this.showButtonForExtraSuggestion}}
        <button type="button" class="block mt-[10px] ml-[5px] mb-[5px] px-[12px] py-[6px] h-[36px] border border-greengray rounded-[4px] text-light_green font-gothic font-bold text-sm focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200" {{on "click" (fn this.getMoreSuggestion)}}>Еще рекомендаций</button>
      {{/if}}
    {{else if this.showWarning}}
      <span class="block ml-[5px] text-sm">{{@noDataText}}</span>
    {{else}}
      <SpinkitThreeBounce/>
    {{/if}}
  </div>
{{/if}}

