{{#if this.hasData}}
  <span class="block font-gothic text-lg mt-15px mb-10px">Коктейли с этим ингредиентом:</span>
  <div class="flex flex-wrap justify-start -ml-18px -mr-15px">
    {{#each this.filteredSuggestedRecipes as |recipe|}}
      <a class="w-134px h-216px mx-18px mb-15px relative" href= {{href-to 'recipe' recipe.id}}>
        <div class="rounded shadow-recipe text-center overflow-hidden">
          <span class="inline-block px-3px text-sm h-38px font-georgia font-bold text-violet italic">{{recipe.name}}</span>
          {{#if recipe.thumbnailUrl}}
            <img class="w-134px h-178px" alt= {{recipe.name}} src= {{recipe.fullThumbnailUrl}}>
          {{else}}
            <img class="w-134px h-178px" alt= {{recipe.name}} src="/assets/emptycocktail.png">
          {{/if}}
        </div>
        <span class="absolute top-0 w-134px h-216px transition-opacity duration-100 opacity-0 hover:opacity-100 hover:bg-orange-transparent" />
      </a>
    {{/each}}
  </div>
  {{else if this.initialized}}
{{else}}
  <SpinkitThreeBounce/>
{{/if}}
