<div id="main-frame" class="container-fluid">
  <div id="page-header">
    <img src="/assets/logo-main.png">
    <div id="loginArea">
      {{#if isLoggedIn}}
        <span class="text-button">{{currentUser.displayName}}</span>
        <a id="logoutButton" class="text-button" {{action 'logout'}}>Выйти</a>
      {{else}}
        <a id="loginButton" class="text-button" data-toggle="modal" data-target="#loginWindow">Войти</a>
      {{/if}}
    </div>
  </div>
  <div id="content-frame" class="container">
    <ul class="nav nav-pills">
      <li>{{#link-to 'builder'}}Конструктор{{/link-to}}</li>
      <li><a href="#">Мой бар</a></li>
      <li><a href="#">Админ-панель</a></li>
    </ul>
    <hr>
    <hr>
    {{outlet}}
  </div>
</div>
{{login-window authSuccess="authSuccess"}}
{{signup-window}}