<div id="builder-view" class="flex flex-wrap mx-4 md:flex-nowrap">
  <FiltersMenu @clearFilters={{action "clearFilters"}} @changeIngredients={{action "changeIngredients"}}
      @toggleType={{action "toggleType"}} @toggleOption={{action "toggleOption"}} @selectedIngredientsIds= {{this.selectedIngredientsIds}}
      @ingredients= {{this.ingredients}} @cocktailOptions= {{this.cocktailOptions}} @cocktailTypes= {{this.cocktailTypes}} />
  <div class="w-full pl-5px pt-15px">
    {{#if this.isSearchStarting}}
      <SpinkitThreeBounce/>
    {{else if this.foundCocktails}}
      <div class="flex flex-wrap">
        {{#each recipesOnPage as |recipe|}}
          <RecipeItem @recipe={{recipe}} @selectedIngredients={{this.selectedIngredientsIds}}/>
        {{/each}}
      </div>
      {{#if this.isPreviousPageExist}}
        {{#link-to 'builder' (query-params pageNumber=previousPageNumber) id="prevPageButton" class="float-left h-36px my-10px mr-5px block px-12px py-6px text-sm border border-greengray rounded-4px text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200" rel="prev" }}Назад{{/link-to}}
      {{/if}}
      {{#if this.isNextPageExist}}
        {{#link-to 'builder' (query-params pageNumber=nextPageNumber) id="nextPageButton" class="float-right h-36px my-10px mr-5px block px-12px py-6px text-sm border border-greengray rounded-4px text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200" rel="next" }}Еще коктейлей{{/link-to}}
      {{/if}}
    {{else if this.isSearchPerformed}}
      <img src="/assets/sadcocktail.png" />
      <p>Коктейлей по заданным критериям не найдено... Нам очень жаль :(</p>
    {{/if}}
  </div>
</div>
