<div id="builder-view" class="flex flex-wrap justify-center mx-[10px] md:flex-nowrap">
  <FiltersMenu @clearFilters={{action "clearFilters"}} @changeIngredients={{action "changeIngredients"}}
      @toggleType={{action "toggleType"}} @toggleOption={{action "toggleOption"}} @toggleOnlyLiked={{action "toggleOnlyLiked"}} @selectedIngredientsIds={{this.selectedIngredientsIds}}
      @ingredients={{this.ingredients}} @cocktailOptions= {{this.cocktailOptions}} @cocktailTypes={{this.cocktailTypes}} @onlyLiked={{this.onlyLiked}} />
  <div class="flex flex-col w-full pl-[5px] pt-[15px]">
    {{#if this.isSearchStarting}}
      <SpinkitThreeBounce/>
    {{else if this.foundCocktails}}
      <div class="flex flex-wrap">
        {{#each recipesOnPage as |recipe|}}
          <RecipeItem @recipe={{recipe}} @selectedIngredients={{this.selectedIngredientsIds}}/>
        {{/each}}
      </div>
      <div class="flex justify-between">
        <a href={{href-to 'builder' (query-params pageNumber=this.previousPageNumber)}} id="prevPageButton"
                class="place-self-start h-[36px] my-[10px] mr-[5px] block px-[12px] py-[6px] text-sm border border-greengray rounded-[4px] text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200 {{if this.isPreviousPageExist "visible" "invisible"}}" rel="prev">Назад</a>
        <a href={{href-to 'builder' (query-params pageNumber=this.nextPageNumber)}} id="nextPageButton"
                class="place-self-end h-[36px] my-[10px] mr-[5px] block px-[12px] py-[6px] text-sm border border-greengray rounded-[4px] text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200 {{if this.isNextPageExist "visible" "invisible"}}" rel="next">Еще коктейлей</a>
      </div>
    {{else if this.isSearchPerformed}}
      <img src="/assets/sadcocktail.png" class="block mx-auto" />
      <p class="mx-auto text-[24px] font-gothic text-center">Коктейлей по заданным критериям не найдено... Нам очень жаль :(</p>
    {{/if}}
  </div>
</div>
