{{!--
  Add content you wish automatically added to the documents head
  here. The 'model' available in this template can be populated by
  setting values on the 'head-data' service.
--}}
<title>{{model.title}}</title>
<meta name="description" content={{model.description}} />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@drinkit_guru">
<meta name="twitter:creator" content="@drinkit_guru">
<meta name="twitter:title" content={{model.title}}>
<meta name="twitter:description" content={{model.description}}>
<meta name="twitter:image" content={{model.image}}>
