<div itemscope itemtype="http://schema.org/Product">
	<div id="recipeView" class="row">
		<div id="imageCon" class="col-md-5">
			<div>
				{{#if currentIngredient.imageUrl}}
					<img itemprop="image" alt={{recipe.name}} src={{model.fullImageUrl}}>
					<picture id="emptyImage" itemprop="image">
						<source srcset="/assets/bigcocktail.webp" type="image/webp">
						<source srcset="/assets/bigcocktail.png" type="image/jpeg">
						<img id="emptyImage" src="/assets/bigcocktail.png">
					</picture>
				{{else}}
				<picture itemprop="image" itemprop="image">
					<source srcset="/assets/bigcocktail.webp" type="image/webp">
					<source srcset="/assets/bigcocktail.png" type="image/jpeg">
					<img itemprop="image" src="/assets/bigcocktail.png">
				</picture>
				{{/if}}
			</div>
		</div>
		<div class="col-md-7 description">
			<h1 id="ingrName" itemprop="name">{{currentIngredient.name}}</h1>
			{{#if currentIngredient.originalName}}
				<h2 id="originalName">{{currentIngredient.originalName}}</h2>
			{{/if}}
			<div>
				<ul id="ingrAttrList">
					<li itemprop="category">Категория: {{currentIngredient.category}}</li>
          <li>Крепость: {{currentIngredient.vol}}%</li>
				</ul>
			</div>
			<div itemprop="description">
				{{markdown-to-html currentIngredient.description extensions="internal-links"}}
			</div>
		</div>
	</div>
  {{suggest-recipes suggestedRecipes=suggestedRecipes initialized=suggestedRecipesInitialized}}
</div>
