<div itemscope itemtype="http://schema.org/Product">
	<div id="recipeView" class="row">
		<div id="imageCon" class="col-md-5">
			<div>
				{{#if model.imageUrl}}
					<img itemprop="image" alt={{recipe.name}} src={{model.fullImageUrl}}>
					<img id="emptyImage" src="/assets/bigcocktail.png" />
				{{else}}
					<img itemprop="image" src="/assets/bigcocktail.png">
				{{/if}}
			</div>
		</div>
		<div class="col-md-7 description">
			<h1 id="ingrName" itemprop="name">{{model.name}}</h1>
			{{#if model.originalName}}
				<h2 id="originalName">{{model.originalName}}</h2>
			{{/if}}
			<div>
				<ul id="ingrAttrList">
					<li itemprop="category">Категория: {{model.category}}</li>
          <li>Крепость: {{model.vol}}%</li>
				</ul>
			</div>
			<div itemprop="description">
				{{markdown-to-html model.description extensions="internal-links"}}
			</div>
		</div>
	</div>
</div>
