<div itemscope itemtype="http://schema.org/Recipe">
  <meta itemprop="recipeCategory" content="cocktail" />
	<div id="recipeView" class="flex flex-wrap justify-center pt-[10px] px-[15px]">
		<div class="relative grow-0 w-[386px] max-h-[514px] border border-solid border-gray-350 md:mr-[15px]">
			{{#if this.recipe.imageUrl}}
				<img itemprop="image" alt={{this.recipe.name}} src={{this.recipe.fullImageUrl}}>
				<picture class="w-full h-auto absolute opacity-0 left-0 top-0" id="emptyImage" itemprop="image">
					<source srcset="/assets/bigcocktail.webp" type="image/webp">
					<source srcset="/assets/bigcocktail.png" type="image/jpeg">
					<img class="absolute opacity-0 left-0 top-0" src="/assets/bigcocktail.png" alt="don't steal our photos please">
				</picture>
			{{else}}
				<picture itemprop="image">
					<source srcset="/assets/bigcocktail.webp" type="image/webp">
					<source srcset="/assets/bigcocktail.png" type="image/jpeg">
					<img itemprop="image" src="/assets/bigcocktail.png" alt={{this.recipe.name}}>
				</picture>
			{{/if}}
			<div class="absolute left-0 top-0 ml-[15px] mt-[10px] opacity-75">
				<img class="inline w-[16px] h-[16px]" src="/assets/views-icon.svg" alt="views count">
				<span class="font-gothic text-[13px]">{{safe-val this.recipe.stats.views 0}}</span>
			</div>
			<div class="absolute flex items-center right-0 top-0 mr-[20px] mt-[10px] opacity-75">
				{{#if this.currentUser.isLoggedIn}}
					<div class="w-[16px] h-[16px] mr-[3px] cursor-pointer {{if this.isLiked "rating-heart-liked" "rating-heart-unliked"}}" {{on "click" this.changeLike}} />
				{{else}}
					<div class="w-[16px] h-[16px] mr-[3px] cursor-pointer rating-heart-unliked" title={{localized ru='Доступно только для зарегистрированных пользователей' en='Available only for registered users' uk='Доступно тільки для зареєстрованих користувачів'}} />
				{{/if}}
				<span class="font-gothic text-[13px]">{{safe-val this.recipe.stats.likes 0}}</span>
			</div>
		</div>
		<div class="grow w-[555px]">
			<h1 id="recipeName" class="font-georgia font-bold text-center text-[28px] text-violet leading-tight" itemprop="name">{{this.recipe.name}}</h1>
			{{#if this.recipe.originalName}}
				<h2 id="originalName" class="mt-[5px] font-georgia font-bold text-center text-[22px] text-violet leading-tight opacity-75">{{this.recipe.originalName}}</h2>
			{{/if}}
			<div class="mt-[20px]">
				<hr class="border-gray-400">
				<div class="flex justify-between h-[42px] w-full px-[5px]">
					<span id="recipeConsist" class="font-gothic font-bold text-[15px] leading-[42px]">{{localized ru='Состав' en='Ingredients' uk='Склад'}}</span>
					<div id="tags" class="flex items-center">
						{{#each this.tags as |tag|}}
							<img class="w-[32px] h-[32px] mx-[2px]" src={{tag.img}} alt={{tag.tooltip}} title={{tag.tooltip}}>
						{{/each}}
					</div>
				</div>
				<hr class="border-gray-300">
				{{#each this.recipeIngredients as |ingredient|}}
					<div class="flex justify-between h-[42px] w-full px-[5px]">
						<a class="font-gothic text-[15px] leading-[42px] underline" href={{href-to 'ingredient' ingredient.id}}><span itemprop="recipeIngredient">{{ingredient.name}}</span></a>
						<span class="font-gothic text-[15px] leading-[42px]">{{humanize-quantity ingredient.quantity ingredient.unit}}</span>
					</div>
					<hr class="border-gray-300">
				{{/each}}
			</div>
			<div class="font-gothic text-justify whitespace-pre-wrap text-[15px] pl-[3px] leading-snug" itemprop="description">
				<MarkdownToHtml @markdown={{this.recipe.description}} @extensions="internal-links"/>
			</div>
		</div>
	</div>
	{{#if this.isCommentsWorked}}
		<div id="commentsView" class="px-[15px] mt-[30px] mb-[20px] pb-[15px]" itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
			<meta itemprop="interactionType" content="http://schema.org/CommentAction" />
			<meta itemprop="userInteractionCount" content={{this.sortedComments.length}} />
			<div class="flex justify-between items-center mb-[10px]">
				<h2 class="font-gothic text-[22px]">{{localized ru='Комментарии' en='Comments' uk='Коментарі'}}</h2>
				<SharePanel @adaptive={{true}} @buttons="vk, facebook, twitter" @labels={{localized ru='Поделиться,Поделиться,Твитнуть' en='Share,Share,Tweet' uk='Поділитися,Поділитися,Твітнути'}} @title={{this.shareTitle}} @image={{this.recipe.fullImageUrl}} @text={{this.shareDescription}} />
			</div>
			<CommentEdit class="mb-[20px]" @recipeId={{this.recipe.id}}/>
			{{#each this.sortedComments as |comment|}}
				<CommentItem @comment={{comment}} @recipeId={{this.recipe.id}}/>
			{{/each}}
		</div>
	{{/if}}
</div>
