<div class="flex flex-col pt-4 px-2">
  {{#if foundCocktails}}
    <span class="inline-block ml-[5px] mb-[10px] font-gothic text-md">
      {{concat (localized ru='По запросу "' en='Found results for "' uk='За запитом "') this.search (localized ru='" найдено ' en='" found ' uk='" знайдено ') this.recipes.length (localized ru=' результатов' en=' results' uk=' результатів')}}
    </span>
    <div class="flex flex-wrap col-lg-6">
      {{#each this.recipesOnPage as |recipe|}}
        <RecipeItem @recipe={{recipe}} @selectedIngredients={{this.selectedIngredientsIds}}/>
      {{/each}}
    </div>
    <div class="flex justify-center">
      <a href={{href-to 'recipes' (query-params pageNumber=this.nextPageNumber)}} id="nextPageButton"
         class="place-self-end h-[36px] my-[10px] mr-[5px] block px-[12px] py-[6px] text-sm border border-greengray rounded-[4px] text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200 {{if this.isNextPageExist "visible" "invisible"}}" rel="next">{{localized ru='Еще коктейлей' en='More cocktails' uk='Ще коктейлів'}}</a>
    </div>
  {{else}}
    <img src="/assets/sadcocktail.png" class="block mx-auto" />
    <p class="mx-auto text-[26px] font-gothic text-center">
      {{concat (localized ru='Коктейлей по запросу "' en='No cocktails found for "' uk='Коктейлів за запитом "') this.search (localized ru='" не найдено... Нам очень жаль :(' en='"... We are very sorry :(' uk='" не знайдено... Нам дуже шкода :(')}}
    </p>
  {{/if}}
</div>