<div id="recipeView" class="row">
	<div id="imageCon" class="col-md-5">
		<div>
			{{#if model.imageUrl}}
				<img src={{model.fullImageUrl}}>
			{{else}}
				<img src="/assets/bigcocktail.png">
			{{/if}}
			<div class="views-icon-container">
				<img src="/assets/views-icon.svg">
				<span>{{model.views}}</span>
			</div>
			<div class="rating-icon-container">
				<div class="{{if isLiked "rating-heart-liked" "rating-heart-unliked"}}" {{action "changeLike"}}/>
				<span>{{model.likes}}</span>
			</div>
		</div>
	</div>
	<div class="col-md-7 description">
		<span id="recipeName">{{model.name}}</span>
		<div>
			<hr class="darkLine">
			<div class="consistRow">
				<div class="leftColumn">
					<span id="recipeConsist">Состав</span>
				</div>
				<div class="rightColumn">
					<div id="tags">
						{{#each tags as |tag|}}
							<img src={{tag}}>
						{{/each}}
					</div>
				</div>
			</div>
			<hr>
			{{#each ingredients.content as |ingredient|}}
				<div class="consistRow">
					<div class="leftColumn">
						<span>{{ingredient.name}}</span>
					</div>
					<div class="rightColumn">
						<span>{{humanize-quantity ingredient.quantity}}</span>
					</div>
				</div>
				<hr>
			{{/each}}
		</div>
        <div>
            <p>{{{model.description}}}</p>
        </div>
	</div>
</div>
