<div itemscope itemtype="http://schema.org/Recipe">
	<div id="recipeView" class="row">
		<div id="imageCon" class="col-md-5">
			<div>
				{{#if recipe.imageUrl}}
					<img itemprop="image" alt={{recipe.name}} src={{recipe.fullImageUrl}}>
				{{else}}
					<img itemprop="image" src="/assets/bigcocktail.png">
				{{/if}}
				<div class="views-icon-container">
					<img src="/assets/views-icon.svg">
					<span>{{safeVal recipe.stats.views 0}}</span>
				</div>
				<div class="rating-icon-container">
					{{#if currentUser.isLoggedIn}}
						<div class="{{if isLiked "rating-heart-liked" "rating-heart-unliked"}}" {{action "changeLike"}} />
					{{else}}
						<div class="rating-heart-unliked" title="Доступно только для зарегистрированных пользователей" />
					{{/if}}
					<span>{{safeVal recipe.stats.likes 0}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-7 description">
			<span id="recipeName" itemprop="name">{{recipe.name}}</span>
			<div>
				<hr class="darkLine">
				<div class="consistRow">
					<div class="leftColumn">
						<span id="recipeConsist">Состав</span>
					</div>
					<div class="rightColumn">
						<div id="tags">
							{{#each tags as |tag|}}
								<img src= {{tag.img}} title="{{tag.tooltip}}">
							{{/each}}
						</div>
					</div>
				</div>
				<hr>
				{{#each recipeIngredients as |ingredient|}}
					<div class="consistRow">
						<div class="leftColumn">
							<span itemprop="recipeIngredient">{{ingredient.name}}</span>
						</div>
						<div class="rightColumn">
							<span>{{humanize-quantity ingredient.quantity}}</span>
						</div>
					</div>
					<hr>
				{{/each}}
			</div>
			<div>
				<p itemprop="description">{{{recipe.description}}}</p>
			</div>
		</div>
	</div>
	{{#if isCommentsWorked}}
		<div id="commentsView" itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
			<meta itemprop="interactionType" content="http://schema.org/CommentAction" />
			<meta itemprop="userInteractionCount" content= {{sortedComments.length}} />
			<h2>Комментарии</h2> {{comment-edit recipeId=recipe.id}}
			{{#each sortedComments as |comment|}}
				{{comment-item comment=comment recipeId=recipe.id}}
			{{/each}}
		</div>
	{{/if}}
</div>
