<div class="pt-4 px-2">
  {{#if foundCocktails}}
    <span class="inline-block ml-[5px] mb-[10px] font-gothic text-md">По запросу "{{this.search}}" найдено {{this.recipes.length}} результатов</span>
    <div class="flex flex-wrap col-lg-6">
      {{#each this.recipesOnPage as |recipe|}}
        <RecipeItem @recipe={{recipe}} @selectedIngredients={{this.selectedIngredientsIds}}/>
      {{/each}}
    </div>
    {{#if this.isPreviousPageExist}}
      {{#link-to 'builder' (query-params pageNumber=previousPageNumber) id="prevPageButton" class="float-left h-[36px] my-[10px] mr-[5px] block px-[12px] py-[6px] text-sm border border-greengray rounded-[4px] text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200" rel="prev" }}Назад{{/link-to}}
    {{/if}}
    {{#if this.isNextPageExist}}
      {{#link-to 'builder' (query-params pageNumber=nextPageNumber) id="nextPageButton" class="float-right h-[36px] my-[10px] mr-[5px] block px-[12px] py-[6px] text-sm border border-greengray rounded-[4px] text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200" rel="next" }}Еще коктейлей{{/link-to}}
    {{/if}}
  {{else}}
    <img src="/assets/sadcocktail.png" class="block mx-auto" />
    <p class="mx-auto text-[26px] font-gothic text-center">Коктейлей по запросу "{{this.search}}" не найдено... Нам очень жаль :(</p>
  {{/if}}
</div>
